*{
	box-sizing: border-box;
}
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 15px 30px;
	font-size: 17px;
	padding: 8px;
}
.container{
	background-color: rgb(196, 225, 235);
	padding: 15px 20px 15px 20px;
	border: 2px solid black;
	border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px;

}
fieldset{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
}
.main_heading{
	text-align: center;
}
input[type="submit"]{
	background-color: #a14d4d;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 10%;
	overflow:auto;
}
input[type="submit"]:hover{
	background-color: rgb(129, 181, 194);
	
}
h1{
	border-bottom: 2px solid black;
	padding-bottom: 10px;
}
